<a href="https://colab.research.google.com/github/mansii2022/big-data-analytics/blob/main/assignment3_7feb_202301034.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
data=[[1,'yes','single','125k','No'], [2,'No','Married','100k','No'], [3,'No','Married','70k','No'],
      [4,'yes','Married','105k','No'],[5,'No','Divorced','95k','Yes'] ,[6,'No','Married','60k','No']
      ,[7,'yes','Divorced','220k','No'],[8,'No','single','85k','Yes'],[9,'No','Married','75k','No'],
      [10,'yes','single','90k','No']]
df = pd.DataFrame(data, columns=['Tid', 'Refund','Marital Status','taxable Income','Cheat'])
print(df)

   Tid Refund Marital Status taxable Income Cheat
0    1    yes         single           125k    No
1    2     No        Married           100k    No
2    3     No        Married            70k    No
3    4    yes        Married           105k    No
4    5     No       Divorced            95k   Yes
5    6     No        Married            60k    No
6    7    yes       Divorced           220k    No
7    8     No         single            85k   Yes
8    9     No        Married            75k    No
9   10    yes         single            90k    No

In [ ]:
print(df.loc[[0, 1,7,8]])

   Tid Refund Marital Status taxable Income Cheat
0    1    yes         single           125k    No
1    2     No        Married           100k    No
7    8     No         single            85k   Yes
8    9     No        Married            75k    No

In [ ]:
df=pd.read_csv('data.csv')
print(df)

     Duration  Pulse  Maxpulse  Calories
0          60    110       130     409.1
1          60    117       145     479.0
2          60    103       135     340.0
3          45    109       175     282.4
4          45    117       148     406.0
..        ...    ...       ...       ...
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

[169 rows x 4 columns]